server/resources/easyreagent/out/* diff=none linguist-generated=true
server/resources/easyreagent/out/*/* diff=none linguist-generated=true
server/resources/easyreagent/out/*/*/* diff=none linguist-generated=true
server/resources/easyreagent/out/*/*/*/* diff=none linguist-generated=true
