{
 :paths ["src" "resources"]
 :deps {
        io.github.sstraust/slib {:git/url "https://github.com/sstraust/slib.git"
                                 :git/sha "f070479a5743a3fd5866536a8d92d14f2c38be26"}

        io.github.sstraust/spicyclojuremacros
        {:git/url "https://github.com/sstraust/spicyclojuremacros.git"
         :git/sha "f734396220237c1767e10edd06741a1a625eb42f"}
         org.clojure/clojure {:mvn/version "1.11.1"}
         environ/environ {:mvn/version "1.2.0"}
         ring/ring {:mvn/version "1.11.0-RC1"}
         bk/ring-gzip {:mvn/version "0.3.0"}
         ring/ring-jetty-adapter {:mvn/version "1.11.0-RC1"}
         ring/ring-json {:mvn/version "0.5.1"}
         org.ring-clojure/ring-websocket-protocols {:mvn/version "1.11.0-RC1"}
         com.twilio.sdk/twilio {:mvn/version "10.1.1"}
         clj-python/libpython-clj {:mvn/version "2.025"}
         com.googlecode.libphonenumber/libphonenumber {:mvn/version "8.13.45"}
         com.novemberain/monger {:mvn/version "3.5.0"}
         me.raynes/conch {:mvn/version "0.8.0"}
         compojure/compojure {:mvn/version "1.4.0"}
         net.clojars.wkok/openai-clojure {:mvn/version "0.14.0"}
        org.springframework.security/spring-security-core {:mvn/version "5.7.5"}
        clj-http/clj-http {:mvn/version "3.13.0"}
        }

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {;; Test-only dependencies
                      de.flapdoodle.embed/de.flapdoodle.embed.mongo {:mvn/version "3.5.4"}
                      }}}
}
